/* Light Mode - Default Styles */
.bg-light-custom {
    background-color: #9f6161 !important;
}

.profile-icon {
    width: 30px;
    height: 30px;
}

.nav-link {
    color: #ccc !important;
    font-weight: bold;
}

.nav-link:hover {
    color: #ffffff !important;
}

.auth-button {
    border: 1px solid #ccc !important;
    color: #ccc !important;
    font-weight: bold;
}

.auth-button:hover {
    background-color: #444 !important;
    color: #ffffff !important;
}

.language-link {
    color: #ccc;
    text-decoration: none;
}

.language-link:hover {
    color: #ffffff;
}

/* For Dark Mode Button */
.dark-mode {
    width: 40px; /* Adjust the width for your desired size */
    height: 40px; /* Make the height the same as the width for a perfect circle */
    border-radius: 50%; /* Rounds the button to a circular shape */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cdabab; /* Example background color */
    color: #080000; /* Text color */
    border: none; /* Remove default border */
    cursor: pointer; /* Pointer cursor for interaction */
    font-weight: bold; /* Bold text */
}

.dark-mode:hover {
    background-color: #666; /* Darker background on hover */
}

/* Activation of Dark Mode - Activated when the .dark class is added to a parent element */
.dark .bg-light-custom {
    background-color: #1a1a1a !important;
}

.dark .nav-link {
    color: #999 !important;
}

.dark .nav-link:hover {
    color: #ffffff !important;
}

.dark .auth-button {
    border: 1px solid #666 !important;
    color: #999 !important;
}

.dark .auth-button:hover {
    background-color: #333 !important;
    color: #ffffff !important;
}

.dark .language-link {
    color: #999;
}

.dark .language-link:hover {
    color: #ffffff;
}


/* For Dark Mode Button */
.dark .dark-mode {
    width: 40px; /* Adjust the width for your desired size */
    height: 40px; /* Make the height the same as the width for a perfect circle */
    border-radius: 50%; /* Rounds the button to a circular shape */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444; /* Example background color */
    color: #fff; /* Text color */
    border: none; /* Remove default border */
    cursor: pointer; /* Pointer cursor for interaction */
    font-weight: bold; /* Bold text */
}

.dark .dark-mode:hover {
    background-color: #666; /* Darker background on hover */
}